@use "../../variables" as var;

.comment-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor-placeholder {
  position: absolute;
  top: 15px;
  left: 10px;

  display: inline-block;

  color: #999;

  font-size: 15px;

  overflow: hidden;
  text-overflow: ellipsis;

  user-select: none;

  pointer-events: none;
}

.editor-container {
  position: relative;

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  color: #000;

  width: 100%;

  border: 1px solid rgb(212, 212, 212);
  border-radius: calc(0.5rem - 2px);

  margin-bottom: 0.75rem;

  line-height: 20px;
  font-weight: 400;

  text-align: left;

  transition: 0.1s all cubic-bezier(0.17, 0.67, 0.5, 0.71);

  &:focus {
    border-color: rgb(59, 73, 223);

    box-shadow: 0 0 0 1px rgb(59, 73, 223);
  }
}

.editor-inner {
  position: relative;
}

.editor-input {
  position: relative;

  min-height: 150px;

  padding: 15px 10px;

  font-size: 15px;

  outline: 0;

  caret-color: #444;

  tab-size: 1;

  resize: none;
}

.post-btn {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  width: 100%;
}

.icon {
  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;

  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @include var.spin();
}
