.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);

  padding: 1px 0.25rem;

  font-size: 94%;
  font-family: Menlo, Consolas, Monaco, monospace;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-paragraph {
  position: relative;

  margin: 0 0 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
