.workspace-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  width: 100%;

  padding: 1.5rem;

  overflow-y: auto;
}

.item-wrapper {
  color: hsl(var(--card-foreground));
  background-color: hsl(var(--card));

  width: 100%;

  border-width: 1px;
  border-radius: 0.5rem;

  padding: 1rem;

  box-shadow:
    0 0 #000,
    0 0 #000,
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-datetime {
  display: flex;

  color: hsl(var(--muted-foreground));

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  span {
    display: block;
    width: 140px;
  }
}

.submission-status {
  display: inline-flex;
  align-items: center;

  color: hsl(0 70% 40%);
  background-color: hsl(0 100% 97%);

  width: fit-content;

  border-radius: calc(0.5rem - 2px);

  padding: 0.125rem 0.625rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  text-transform: capitalize;

  &[data-submit="Submitted"] {
    color: hsl(180.54, 100%, 21.96%);
    background-color: hsl(180, 38.78%, 90.39%);
  }
}

.contribution-count {
  @extend .submission-status;

  color: hsl(180.54, 100%, 21.96%);
  background-color: hsl(180, 38.78%, 90.39%);
}
