.paragraph {
  margin: 5px 0;

  font-size: 1rem;
  line-height: 1.25rem;

  text-align: left;

  a {
    border-bottom: 1px solid black;
  }
}

.heading {
  margin: 0.6rem 0 3px;

  line-height: 1.25em;
  font-weight: 800;

  outline: none;
}

.heading-1 {
  font-size: 2.25rem;
}

.heading-2 {
  font-size: 1.5em;
}

.heading-3 {
  font-size: 1.25em;
}

.ordered-list {
  padding: 0.4rem 0 0 35px;
  margin: 0;

  outline: none;

  list-style: decimal;
}

.unordered-list {
  padding: 0.4rem 0 0 35px;
  margin: 0;

  outline: none;

  list-style: disc;
}

.list-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  line-height: 1.6em;
}

.link {
  display: block;

  background: #fff;

  border: 1px solid rgba(201, 201, 204, 0.48);
  border-radius: 6px;

  padding: 25px;

  box-shadow: 0 1px 3px #0000001a;
}

.link-title {
  margin: 0 0 10px;

  font-size: 17px;
  line-height: 1.5em;
  font-weight: 600;
}

.link-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  margin: 0 0 20px;

  font-size: 15px;
  line-height: 1.55em;

  overflow: hidden;
}

.link-anchor {
  color: #888;

  font-size: 15px;
  line-height: 1rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;

  overflow: hidden;

  img {
    display: block;

    max-width: 100%;

    border-radius: calc(0.5rem - 2px);

    margin-top: 2rem;
    margin-bottom: 2rem;

    vertical-align: bottom;
  }
}

.file-attaches-wrapper {
  padding: 0.4em 0;
}

.file-attaches-container {
  display: flex;
  align-items: center;

  background: #fff;

  border: 1px solid #eff0f1;
  border-radius: 7px;

  padding: 10px 12px;
}

.file-icon-wrapper {
  position: relative;
}

.file-icon-background {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333;

  width: 27px;
  height: 30px;

  border-radius: 8px;

  margin-right: 12px;

  &[data-file-type="docx"] {
    background-color: rgb(20, 131, 233);
  }

  &[data-file-type="pdf"] {
    background-color: rgb(219, 47, 47);
  }
}

.file-icon-name {
  position: absolute;
  left: 3px;
  top: 13px;

  color: #fff;
  background: inherit;

  border-radius: 3px;

  padding: 1px 2px;

  font-size: 8px;
  font-weight: bold;
  line-height: 1em;

  letter-spacing: 0.02em;

  text-transform: uppercase;

  &[data-file-type="docx"] {
    background-color: rgb(20, 131, 233);
  }

  &[data-file-type="pdf"] {
    background-color: rgb(219, 47, 47);
  }
}

.file-attaches-name {
  display: grid;
  grid-gap: 4px;
  flex-grow: 2;

  max-width: calc(100% - 80px);

  margin: auto 0;

  span {
    max-width: 90%;

    font-size: 14px;
    line-height: 1em;
    font-weight: 500;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    outline: none;
  }
}
