.save-blog-btn {
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;

  width: fit-content !important;
  height: fit-content !important;

  color: hsl(var(--foreground)) !important;
  background-color: transparent !important;

  padding: 0 !important;

  border-radius: 9999px !important;

  &:hover {
    color: hsl(var(--foreground)) !important;
    background-color: hsl(var(--muted)) !important;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;

    padding: 0.5rem;

    transition-duration: 0.15s;
    transition-property: fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current-save-blog {
  svg {
    stroke: none;

    fill: hsl(25.04,98.58%,72.35%) !important;
  }
}
