.shell {
  max-width: 100% !important;
  margin: 0 !important;

  padding: 0 !important;
}

.home-banner-wrapper {
  display: flex;
  align-items: center;

  background-color: #00033d;

  height: 700px;

  width: 100%;
}

.banner-text {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  color: #fff;

  padding: 15px 0 80px 45px;

  h2 {
    //margin-left: 0px;

    font-size: 2.2rem;

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    @media (min-width: 1024px) {
      font-size: 3.4rem;
    }
  }
}

.banner-image {
  flex: 1.2;

  height: 100%;

  img {
    height: 100%;
  }
}

.faculty-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  max-width: 1300px;

  padding: 1.5rem 1rem 2rem;

  @media (min-width: 768px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.faculty-carousel-header {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.top-contributors-card {
  max-width: 1350px;
  width: 100%;
}

.blog-card {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: 768px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @media (min-width: 1024px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.blog-card-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  margin: 0 0.5rem;
}

.blog-card-header {
  flex: 1;

  max-width: 58rem;

  h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }

  p {
    color: hsl(var(--muted-foreground));

    max-width: 46rem;

    line-height: 1.5;

    text-wrap: balance;

    @media (min-width: 640px) {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

.top-contributors {
  display: grid;
  gap: 1rem;

  width: 100%;
  max-width: 1350px;

  margin-top: 2rem;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.blog-author-details {
  display: flex;
  align-items: center;
  flex: 1;

  margin-bottom: 1.25rem;
}

.author-name-wrapper {
  display: flex;
  align-items: center;
  flex: 1;

  padding-left: 0.75rem;

  p {
    color: hsl(var(--muted-foreground));

    font-size: 0.75rem;
  }
}

.author-name {
  font-weight: 700;

  cursor: pointer;

  &:hover {
    color: rgb(47, 58, 178);
  }
}

.search {
  position: relative;

  width: 2.25rem !important;

  padding: 0 !important;

  @media (min-width: 768px) {
    justify-content: flex-start !important;

    width: fit-content !important;
    height: 2.5rem !important;

    padding: 0.5rem 0.75rem !important;
  }

  svg {
    width: 1rem !important;
    height: 1rem !important;

    @media (min-width: 768px) {
      margin-right: 0.5rem !important;
    }
  }
}

.search-span-metadata {
  display: none;

  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.search-span {
  position: absolute;

  width: 1px;
  height: 1px;

  border-width: 0;

  padding: 0;

  margin: -1px;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
