.faculty-wrapper {
  position: relative;
  padding: 4rem 0;
}

.faculty-container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.faculty-header-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
  margin-right: -15px;
  margin-left: -15px;
}

.faculty-header-container {
  position: relative;

  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  text-align: center;

  opacity: 0;

  visibility: hidden;

  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;

  @media (min-width: 768px) {
    flex: 0 0 66.66667%;

    max-width: 66.66667%;
  }

  h2 {
    color: rgba(0, 0, 0, 0.8);

    margin-bottom: 1.5rem;

    font-size: 44px;
    font-weight: 600;
    line-height: 1.5;
  }

  p {
    margin-bottom: 1rem;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      visibility: hidden;

      transform: translate3d(0, 40px, 0);
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

.faculty-card-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-right: -15px;
  margin-left: -15px;
}

.faculty-card {
  position: relative;

  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    flex: 0 0 33%;

    max-width: 33%;
  }
}

.faculty-card-img {
  img {
    width: 100%;
    height: 300px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.faculty-card-content {
  padding-top: 1.5rem;

  h3 {
    margin-bottom: 0.5rem;

    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
  }

  p {
    margin-bottom: 1rem;
  }
}

.view {
  color: #fff !important;
  background: #fd5f00 !important;

  border: 1px solid #fd5f00 !important;

  padding: 6px 4px !important;

  font-weight: 400;

  &:hover {
    color: #fd5f00 !important;
    background: transparent !important;

    border: 1px solid #fd5f00 !important;
  }
}
