.recent-blog-wrapper {
  position: relative;

  padding: 1rem 0;
}

.recent-blog-container {
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.recent-blog-header-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
  margin-right: -15px;
  margin-left: -15px;
}

.recent-blog-header-container {
  position: relative;

  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  text-align: center;

  @media (min-width: 768px) {
    flex: 0 0 66.66667%;

    max-width: 66.66667%;
  }

  p {
    margin-bottom: 1rem;
  }
}

.recent-blog-header {
  margin-bottom: 1.5rem;

  font-size: 44px;
  font-weight: 600;
}

.recent-blog-items-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-right: -15px;
  margin-left: -15px;
}

.recent-blog-card-wrapper {
  position: relative;

  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 992px) {
    flex: 0 0 33.33333%;

    max-width: 33.33333%;
  }
}

.recent-blog-card-container {
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.recent-blog-card-image {
  img {
    position: relative;

    display: block;

    height: 275px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    overflow: hidden;
  }
}

.recent-blog-card-content {
  position: relative;

  background: #fff;

  border-top: 0;
  border-radius: 2px;

  padding: 1.5rem 5px;

  h3 {
    color: #000000;

    margin-bottom: 16px;

    font-size: 20px;
  }

  p {
    margin-bottom: 1rem;
  }
}

.view {
  color: #fff !important;
  background: #fd5f00 !important;

  border: 1px solid #fd5f00 !important;

  padding: 6px 4px !important;

  font-weight: 400;

  &:hover {
    color: #fd5f00 !important;
    background: transparent !important;

    border: 1px solid #fd5f00 !important;
  }
}
