.blog-wrapper {
  display: flex;
  gap: 1rem;

  max-width: 1280px;
  width: 100%;

  padding: 1rem;
  margin: 0 auto;
}

.action-group-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  background: transparent;

  height: fit-content;

  border-top-left-radius: calc(0.5rem - 2px);
  border-top-right-radius: calc(0.5rem - 2px);

  padding: 0.5rem;

  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);

  z-index: 49;

  @media (min-width: 768px) {
    position: sticky;
    top: calc(65px + 6vh);

    display: grid;
    justify-content: stretch;
    gap: 1.5rem;

    background: transparent;

    border-radius: 0.75rem;

    padding: 0;

    box-shadow: none;

    z-index: 1;
  }
}

.action-group-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-bottom: env(safe-area-inset-bottom);

  @media (min-width: 768px) {
    display: grid;
    justify-content: stretch;
    gap: 1rem;
  }
}

.blog-content-wrapper {
  flex: 1;

  color: hsl(var(--card-foreground));
  background-color: hsl(var(--card));

  border-width: 1px;
  border-radius: calc(0.5rem - 4px);

  margin-bottom: 1rem;

  overflow-wrap: anywhere;

  box-shadow:
    0 0 #000,
    0 0 #000,
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.blog-header-wrapper {
  overflow-wrap: anywhere;

  word-break: break-word;
}

.background-image-wrapper {
  max-height: 650px;

  border-radius: calc(0.5rem - 4px) calc(0.5rem - 4px) 0 0;

  overflow: hidden;
}

.background-image {
  max-width: 100%;
  max-height: calc(100vh - 56px - 2 * 1rem);
  height: auto;

  margin: auto;

  object-fit: contain;

  aspect-ratio: auto 1000 / 420;
}

.blog-header {
  padding: 32px 64px 0 64px;
}

.blog-author-wrapper {
  display: flex;

  @media (min-width: 640px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.blog-author-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.blog-author-details {
  display: flex;
  flex: 1;
  align-items: flex-start;

  margin-bottom: 1.25rem;
}

.author-name-wrapper {
  flex: 1;

  padding-left: 0.75rem;

  p {
    color: hsl(var(--muted-foreground));

    font-size: 0.75rem;
  }
}

.author-name {
  font-weight: 700;

  cursor: pointer;

  &:hover {
    color: rgb(47, 58, 178);
  }
}

.manage-blog-wrapper {
  display: flex;

  background: rgba(245, 158, 11, 0.1);

  height: 42px;

  border-radius: calc(0.5rem - 2px);
  border: 1px solid rgba(245, 158, 11, 0.1);

  padding: 0.25rem;

  a {
    height: 100% !important;

    &:hover {
      background-color: rgba(0, 0, 0, 0.035) !important;
    }
  }

  button {
    height: 100% !important;

    &:hover {
      background-color: rgba(0, 0, 0, 0.035) !important;
    }
  }
}

.blog-title {
  margin-bottom: 0.5rem;

  font-size: 1.875rem;
  line-height: 1.25;
  font-weight: 700;

  @media (min-width: 640px) {
    font-weight: 800;
  }

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

.blog-extra {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.extra-layout {
  display: inline-flex;
  align-items: center;

  color: hsl(var(--tags-foreground));
  background-color: hsl(var(--tags));

  min-height: 1.75rem;

  border-radius: 0.25rem;

  padding: 0.3125rem 0.5rem;

  font-size: 0.875rem;

  cursor: pointer;

  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: hsl(180, 2.04%, 90.39%);
  }
}

.blog-status {
  @extend .extra-layout;

  &[data-status="approve"] {
    color: hsl(180.54, 100%, 21.96%);
    background-color: hsl(180, 38.78%, 90.39%);
  }

  &[data-status="reject"] {
    color: hsl(0, 70%, 40%);
    background-color: hsl(0, 100%, 97%);
  }
}

.guest-permission {
  @extend .extra-layout;

  &[data-permission="true"] {
    color: hsl(180.54, 100%, 21.96%);
    background-color: hsl(180, 38.78%, 90.39%);
  }

  &[data-permission="false"] {
    color: hsl(0, 70%, 40%);
    background-color: hsl(0, 100%, 97%);
  }
}

.content-wrapper {
  padding: 2rem 4rem;
}

.content-blocks {
  border-bottom-width: 1px;

  padding-bottom: 0.5rem;
}

.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 1rem;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.file-wrapper {
  display: flex;
  gap: 0.5rem;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: fit-content;

  text-align: center;

  span {
    &:hover {
      text-decoration: underline;
    }
  }
}

.blog-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.blog-detail {
  position: fixed;
  top: 40%;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  color: hsl(var(--card-foreground));
  background-color: hsl(var(--card));

  border-width: 1px;
  border-radius: calc(0.5rem - 4px);

  margin-right: 0.5rem;

  padding: 1rem;

  span {
    display: inline-flex;
    align-items: center;

    width: fit-content;

    border-radius: calc(0.5rem - 2px);

    padding: 0.125rem 0.625rem;

    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;

    text-transform: capitalize;

    &[data-submit="pending"] {
      color: hsl(var(--muted-foreground));
      background-color: hsl(var(--muted));
    }

    &[data-submit="pending"] {
      color: hsl(var(--muted-foreground));
      background-color: hsl(var(--muted));
    }

    &[data-submit="approve"] {
      color: hsl(180.54, 100%, 21.96%);
      background-color: hsl(180, 38.78%, 90.39%);
    }

    &[data-submit="reject"] {
      color: hsl(0 70% 40%);
      background-color: hsl(0 100% 97%);
    }
  }
}
