.admin-main-nav-wrapper {
  position: relative;

  display: none;

  width: 18rem;
  height: 100dvh;

  border-right-width: 1px;

  @media (min-width: 1024px) {
    display: block;
  }
}

.admin-main-nav-container {
  padding: 0.5rem 0.75rem 1rem;
}

.text {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;

  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  letter-spacing: -0.025em;
}

.nav {
  display: grid;
  align-items: flex-start;
  gap: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;

  color: hsl(var(--muted-foreground));

  border-radius: calc(0.5rem - 2px);

  padding: 0.5rem 0.75rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;

  svg {
    width: 1rem;
    height: 1rem;

    margin-right: .5rem;
  }

  &:hover {
    color: hsl(var(--primary));
  }
}

.nav-item-active {
  color: hsl(var(--primary));
  background-color: hsl(var(--accent));
}
