@use "../../variables" as var;

.nav-layout {
  position: sticky;
  top: 0;

  background-color: hsl(var(--background));

  border-bottom-width: 1px;

  width: 100%;

  z-index: 49;
}

.inner-nav-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4rem;

  padding: 0 2rem;
}

.outer-nav-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-action {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 2.5rem;
}

.nav-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: 8px;

  @media (min-width: 768px) {
    flex: 1;

    margin-left: 0;
  }
}

.search {
  position: relative;

  width: 2.25rem !important;

  padding: 0 !important;

  @media (min-width: 768px) {
    justify-content: flex-start !important;

    width: fit-content !important;
    height: 2.5rem !important;

    padding: 0.5rem 0.75rem !important;
  }

  svg {
    width: 1rem !important;
    height: 1rem !important;

    @media (min-width: 768px) {
      margin-right: 0.5rem !important;
    }
  }
}

.search-span-metadata {
  display: none;

  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.search-span {
  position: absolute;

  width: 1px;
  height: 1px;

  border-width: 0;

  padding: 0;

  margin: -1px;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.avatar-trigger {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  min-width: 40px !important;
  width: 40px !important;
  min-height: 40px !important;
  height: 40px !important;

  padding: 0 !important;
  margin-left: 8px;

  border-radius: 9999px !important;

  cursor: pointer;

  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.5, 1);

  svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 2rem;
    height: 2rem;

    line-height: 1;
    text-indent: 0;

    user-select: none;

    transition: color 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  &:focus-visible {
    outline: none !important;

    box-shadow: none !important;
  }
}

.avatar {
  width: 2rem !important;
  height: 2rem !important;

  img {
    user-select: none;
  }
}

.dropdown-menu {
  min-width: 250px !important;

  padding: 8px 0 !important;
  margin-top: 4px !important;
}

.dropdown-label {
  display: flex !important;
  flex-direction: column !important;

  max-width: 100% !important;

  padding: 8px 20px !important;

  font-size: 14px !important;
  line-height: 20px !important;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;

    p:first-child {
      font-size: 0.875rem;
      line-height: 0.875rem;
      font-weight: 500;
    }

    p:not(:first-child) {
      font-size: 0.75rem;
      line-height: 0.875rem;

      color: hsl(240 5% 64.9%);
    }
  }
}

.dropdown-item {
  position: relative !important;

  color: hsl(var(--muted-foreground)) !important;

  max-width: 100% !important;

  padding: 0 !important;

  border-radius: initial !important;

  font-size: 14px !important;
  line-height: 20px !important;

  transition:
    color 0.1s ease,
    background-color 0.1s ease !important;
}

.dropdown-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 8px 20px;
}

.item {
  @extend .dropdown-item-link;

  cursor: pointer;
}

.dropdown-separate-line {
  margin: 12px 20px;
}

.sign-out-form {
  display: flex;

  width: 100%;
}

.sign-out {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;

  color: hsl(var(--muted-foreground)) !important;
  background: transparent !important;

  width: 100% !important;
  height: fit-content !important;

  padding: 8px 20px !important;

  cursor: pointer !important;
}
