.footer-wrapper {
  background: #232323;

  padding: 4rem 0 0 0;

  font-size: 14px;
}

.footer-container {
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.footer-rows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  //margin-bottom: 3rem;
  margin-right: -15px;
  margin-left: -15px;
}

.footer-column {
  position: relative;

  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px) {
    flex: 0 0 50%;

    max-width: 50%;
  }

  @media (min-width: 992px) {
    flex: 0 0 25%;

    max-width: 25%;
  }
}

.footer-information {
  width: 100%;

  margin-bottom: 3rem;

  h2 {
    color: #fff;

    margin-bottom: 40px;

    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
  }
}

.footer-information-lists {
  margin-bottom: 1rem;
}

.footer-information-list {
  display: flex;

  color: rgba(255, 255, 255, 0.7);

  margin-bottom: 15px;

  cursor: pointer;

  transition: .3s all ease;

  svg {
    min-width: 24px;

    margin-right: 16px;
  }

  span {
    font-size: 17px;
  }

  &:hover {
    color: #fff;
  }
}
