.theme-button {
  background-color: transparent;

  border-radius: 9999px !important;

  &[data-theme="light"] {
    .sun {
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-rotate: 0deg;
    }
  }

  &[data-theme="dark"] {
    .moon {
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-rotate: 0deg;
    }
  }

  &[data-theme="system"] {
    .system {
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-rotate: 0deg;
    }
  }
}

.sun {
  position: absolute;

  width: 1.25rem;
  height: 1.25rem;

  fill: currentColor;

  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  --tw-scale-x: 0;
  --tw-scale-y: 0;

  --tw-rotate: -90deg;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.moon {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;

  fill: currentColor;

  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  --tw-scale-x: 0;
  --tw-scale-y: 0;
  --tw-rotate: 90deg;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.system {
  position: absolute;

  width: 1.25rem;
  height: 1.25rem;

  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  --tw-scale-x: 0;
  --tw-scale-y: 0;

  --tw-rotate: 0deg;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.text {
  position: absolute;

  border-width: 0;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;

  clip: rect(0, 0, 0, 0);

  white-space: nowrap;
}

.theme-button-skeleton {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 9999px !important;
}