.layout-wrapper {
  display: flex;

  @media (min-width: 640px) {
    min-height: calc(100vh - 85px);
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  max-width: 80rem;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

