.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  width: 100%;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.page-header-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
}

.page-header-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  a {
    gap: 0.25rem !important;
  }

  svg {
    height: 1rem;
    aspect-ratio: 1 / 1;
  }
}
