.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.05em;

    @media (min-width: 768px) {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    @media (min-width: 1024px) {
      line-height: 1.1;
    }
  }

  p {
    color: hsl(var(--muted-foreground));

    max-width: 750px;

    font-size: 0.875rem;
    line-height: 1.25rem;

    text-wrap: balance;

    @media (min-width: 640px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 1rem;
  }
}

.filter-wrapper {
  position: sticky;
  top: 100px;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.faculty-card {
  width: 100% !important;
}

.faculty-text {
  font-weight: 700;
}

.card-content {
  padding: 1rem 0 0 !important;
}

.academic-year-details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: hsl(var(--muted-foreground));

  margin-top: 1rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
}

.academic-year-detail {
  display: flex;

  div {
    width: 100px;
  }

  span {
    font-weight: 700;
  }
}

.add-new-blog {
  width: 100% !important;

  margin-top: 1rem;
}

.blogs-list {
  display: flex;
  flex-direction: column;

  width: 100%;
}
