.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.breadcrumb {
  display: flex;
  align-items: center;

  color: hsl(var(--muted-foreground));

  margin-bottom: 1rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
}

.faculty-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100% !important;
  height: 400px;
}

.faculty-card-header {
  justify-content: center;
  align-items: center;
}

.faculty-text {
  font-weight: 700;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 4rem;
}
