.data-status {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 26px;

  border-radius: 0.375rem;

  padding: 0.25rem 0.625rem;

  text-transform: capitalize;

  &[data-status="ACTIVE"] {
    color: hsl(180.54, 100%, 21.96%);
    background-color: hsl(180, 38.78%, 90.39%);
  }

  &[data-status="SUSPENDED"] {
    color: hsl(0, 70%, 40%);
    background-color: hsl(0, 100%, 97%);
  }
}
