.action-group {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 100%;

  margin-top: 16px;

  @media (min-width: 768px) {
    max-width: 24rem;
  }
}

.select-trigger {
  width: 180px;

  margin-top: 16px;
}

.select-group {
  max-height: 500px;

  padding-right: 5px;
}

.select-item {
  position: relative;

  display: flex;
  align-items: center;

  border-radius: calc(0.5rem - 4px);

  padding: 0.375rem 0.5rem;

  font-size: 0.875rem;
  line-height: 1.25rem;

  outline: 2px solid transparent;
  outline-offset: 2px;

  cursor: default;

  transition-property: color, background-color, border-color,
  text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  svg {
    display: block;
    vertical-align: middle;

    width: 1rem;
    height: 1rem;

    margin-right: 0.5rem;
  }

  &[data-select="true"] {
    color: hsl(var(--accent-foreground));
    background-color: hsl(var(--accent));
  }

  &:hover,
  &:focus {
    color: hsl(var(--accent-foreground));
    background-color: hsl(var(--accent));
  }
}

.scroll-area {
  position: relative;

  height: calc(80vh - 220px) !important;

  border-width: 1px !important;
  border-radius: calc(0.5rem - 2px) !important;

  margin-top: 16px;
}

.table {
  position: relative;
}

.table-row {
  height: 55px;
}

.description-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;
}

.description {
  flex: 1;

  color: hsl(var(--muted-foreground));

  font-size: 0.875rem;
  line-height: 1.25rem;
}

.pagination-wrapper {
  display: flex;
  gap: 8px;

  margin-left: 8px;

  button {
    border-radius: calc(0.5rem - 2px) !important;
  }
}

.disabled {
  opacity: 0.5;

  pointer-events: none;
}