@use "../../variables" as var;

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  width: 100%;

  button {
    height: 32px !important;
  }
}

.icon {
  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;

  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @include var.spin();
}
