.day-picker {
  padding: 0.75rem;
}

.months {
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.month {
  //margin-top: 1rem;
}

.caption {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0.25rem;
}

.caption-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: transparent !important;

  width: 1.75rem !important;
  height: 1.75rem !important;

  padding: 0 !important;

  opacity: 0.5 !important;

  &:hover {
    opacity: 1 !important;
  }
}

.nav-button-previous {
  position: absolute;
  left: 0.25rem;
}

.nav-button-next {
  position: absolute;
  right: 0.25rem;
}

.table {
  width: 100%;

  margin-top: 16px;

  border-collapse: collapse;
}

.head-row {
  display: flex;
}

.head-cell {
  color: hsl(var(--muted-foreground));

  width: 2.25rem;

  border-radius: calc(0.5rem - 2px);

  font-size: 0.8rem;
  font-weight: 400;
}

.row {
  display: flex;

  width: 100%;

  margin-top: 0.5rem;
}

.cell {
  position: relative;

  width: 2.25rem;
  height: 2.25rem;

  padding: 0;

  font-size: 0.875rem;
  line-height: 1.25rem;

  text-align: center;
}

.day {
  color: initial !important;
  background-color: transparent !important;

  width: 2.25rem !important;
  height: 2.25rem !important;

  &:hover {
    color: hsl(var(--accent-foreground)) !important;
    background-color: hsl(var(--accent)) !important;
  }
}

.day-selected {
  color: hsl(var(--primary-foreground)) !important;
  background-color: hsl(var(--primary)) !important;

  &:hover,
  &:focus {
    color: hsl(var(--primary-foreground)) !important;
    background-color: hsl(var(--primary)) !important;
  }
}

.day-today {
  color: hsl(var(--accent-foreground)) !important;
  background-color: hsl(var(--accent)) !important;
}

.day-outside {
  color: hsl(var(--muted-foreground)) !important;

  opacity: 0.5;

  [aria-selected="true"] {
    color: hsl(var(--muted-foreground)) !important;
    background-color: hsl(var(--accent) / 0.5) !important;

    opacity: 0.3;
  }
}

.day-disabled {
  color: hsl(var(--muted-foreground)) !important;

  opacity: 0.5;
}

.svg {
  width: 1rem;
  height: 1rem;
}
