.carousel {
  position: relative;
}

.carousel-content {
  /* optional */
  width: 100%;

  overflow: hidden;
}

.carousel-content-orientation-horizontal {
  display: flex;

  margin-left: -1rem;
}

.carousel-content-orientation-vertical {
  display: flex;
  flex-direction: column;

  margin-left: -1rem;
}

.carousel-item {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;

  min-width: 0;
}

.carousel-item-orientation-horizontal {
  padding-left: 1rem;
}

.carousel-item-orientation-vertical {
  padding-top: 1rem;
}

.carousel-button {
  position: absolute;

  height: 2rem;
  width: 2rem;

  border-radius: 9999px;

  svg {
    width: 1rem;
    height: 1rem;
  }

  span {
    position: absolute;

    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;

    overflow: hidden;

    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.carousel-previous-button-orientation-horizontal {
  top: 50%;
  left: -3rem;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.carousel-previous-button-orientation-vertical {
  top: -3rem;
  left: 50%;

  --tw-rotate: 90deg;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.carousel-next-button-orientation-horizontal {
  top: 50%;
  right: -3rem;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.carousel-next-button-orientation-vertical {
  bottom: -3rem;
  left: 50%;

  --tw-rotate: 90deg;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
