.form-item {
  margin-top: 0.5rem;
}

.form-label {
  color: hsl(0 62.8% 30.6%);
}

.form-description {
  color: hsl(240 5% 64.9%);

  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form-message {
  color: hsl(0 62.8% 30.6%);

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
