.skeleton {
  background-color: hsl(var(--muted));

  border-radius: calc(0.5rem - 2px);

  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
