@mixin container {
  width: 100%;

  padding-right: 1rem;
  padding-left: 1rem;

  //@media (min-width: 640px) {
  //  max-width: 640px;
  //}
  //
  //@media (min-width: 768px) {
  //  max-width: 768px;
  //}

  @media (min-width: 1280px) {
    max-width: 1280px;

    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
  }

  @media (min-width: 1600px) {
    max-width: 1600px;
  }
}

.shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding-top: 1.5rem;
  padding-bottom: 2rem;

  @media (min-width: 768px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container {
  @include container;
}

.centered {
  justify-content: center;

  margin: 5rem auto 4rem;

  max-width: 28rem;
}

.markdown {
  @include container;

  gap: 0;

  padding-top: 2rem;
  padding-bottom: 2rem;

  max-width: 48rem;

  @media (min-width: 768px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @media (min-width: 1024px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}